# EXCLUDED LAYER LIST
// NOTE: This list uses Layer ID names, which is different from UI display names.
// NOTE: this file is used for servers running with Layer voting. This setting can be found in your Server.cfg file (make sure to use a fresh one as your basis).
// Specifying a layer here will hide it from the list when you use "adminchangelayer" or "adminsetnextlayer"
// NOTE: in-line comments will not work in this config until further notice. Comment lines should be in separate lines, if used.

AlBasrah_TA_v1
Tallil_TA_v1
Narva_TA_v1
Yehorivka_TA_v1

LashkarValley_TC_v3

JensensRange_ADF-PLA
JensensRange_BAF-IMF
JensensRange_CAF-INS
JensensRange_PLANMC-VDV
JensensRange_USA-RGF
JensensRange_USMC-MEA

PacificProvingGrounds_PLANMC-VDV
PacificProvingGrounds_USMC-PLA
PacificProvingGrounds_USMC-RGF


Tutorial_Helicopter
Tutorial_Infantry