# LEVEL ROTATION : These must be Level ID's, which are different from UI display names !
// NOTE: this file is used for servers running in MapRotationMode=LevelList, running in order, or for servers running in MapRotationMode=LevelList_Randomized, where the below layers are rotated randomly. This setting can be found in your Server.cfg file (make sure to use a fresh one as your basis).
// NOTE: in-line comments will not work in this config until further notice. Comment lines should be in separate lines, if used.


AlBasrah
Anvil
Belaya
BlackCoast
Chora
Fallujah
FoolsRoad
GooseBay
Gorodok
Harju
Kamdesh
Kohat
Kokan
Lashkar
Logar
Manicouagan
Mestia
Mutaha
Narva
PacificProvingGrounds
Skorpo
Sumari
Tallil
Yehorivka